* {
  box-sizing: border-box;
}
body {
  background-color: rgb(117, 190, 160);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 35px;
}

.first {
  color: brown;
}

.second {
  color: rgb(197, 24, 145);
}

#your-name {
  background-color: rgb(36, 55, 133);
  border: 3px solid rgb(157, 18, 120);
  padding: 2%;
  margin: 0%;
  width: 500px;
  text-align: center;
}

#course-image {
  width: 500px;
  height: 300px;
  border: 2px solid rgb(1, 1, 38);
}

a {
  background-color: rgb(95, 168, 103);
}

#your-name h2 {
  color: olive;
}
